*.pth filter=lfs diff=lfs merge=lfs -text
.pth filter=lfs diff=lfs merge=lfs -text
Webapp/Screenshot[[:space:]](234).png filter=lfs diff=lfs merge=lfs -text
Webapp/Screenshot[[:space:]](235).png filter=lfs diff=lfs merge=lfs -text
